<h2 class="mb-3">Shopping Cart 🛒 ({{ itemCount$ | async }} items)</h2>

<div class="row">
    <div class="col-9">
        <div class="table-responsive">
            <table class="table table-danger">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">name</th>
                        <th scope="col">category</th>
                        <th scope="col">quantity</th>
                        <th scope="col">unit price</th>
                        <th scope="col">sub total</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    @if(cartItems$ | async; as cartItems) {
                        @if(cartItems.length === 0) {
                            <tr>
                                <th scope="row"></th>
                                <td colspan="6">Your cart is empty</td>
                            </tr>
                        } @else {
                            @for(item of cartItems; track item.product.id) {
                                <tr>
                                    <th scope="row">{{ item.product.id }}</th>
                                    <td>{{ item.product.name }}</td>
                                    <td>{{ item.product.category }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>£{{ item.product.price.toFixed(2)}}</td>
                                    <td>£{{ (item.product.price * item.quantity).toFixed(2)}}</td>
                                    <td><button type="button" (click)="removeItem(item.product.id)" class="btn btn-sm btn-outline-danger">🗑️</button></td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-3">
        <h2 class="mb-3">Order summary 🛒</h2>
        <h3 class="mb-3">Total: £{{ (total$ | async)?.toFixed(2) }}</h3>
        <div class="d-flex justify-content-between">
            <button type="button" routerLink="/checkout" class="btn btn-sm btn-info">Checkout</button>

            <button type="button" (click)="clearCart()" class="btn btn-sm btn-secondary">Clear cart</button>
        </div>
    </div>
</div>

  