<div class="card" style="width: 50%;">
    <div class="card-body">
        <h5 class="card-title">Order failed</h5>
        <p class="card-text">Unfortunately, we could not process your order.</p>
        <p class="text-primary">
            @if(error$ | async; as error) {
                <strong>Reason:</strong> {{ error }}
            } @else {
                An unexpected error occurred while processing your order.
            }
        </p>
    </div>
    <div class="card-body">
        <button routerLink="/checkout" type="button" class="btn btn-sm btn-info me-3">Retry checkout</button>

        <button routerLink="/" type="button" class="btn btn-sm btn-warning">Back to products</button>
    </div>
</div>