<nav class="navbar bg-dark">
    <div class="container">
        <a routerLink="/" class="navbar-brand text-uppercase text-light">Officemart</a>

        <div class="d-flex align-items-center">
            <a routerLink="/products" class="me-2 text-decoration-none text-info">products</a>&nbsp;
            <a routerLink="/cart" class="me-2 text-decoration-none text-info">cart 🛒 
                <span class="badge text-bg-warning">{{ cartCount$ | async }}</span>
            </a>
        </div>
    </div>
</nav>
  