<h2 class="mb-3">Office Products</h2>

<div class="table-responsive">
    <table class="table table-danger">
        <thead>
            <tr>
            <th scope="col">id</th>
            <th scope="col">Stationary</th>
            <th scope="col">Quantity</th>
            <th scope="col">price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>A4 Notebook</td>
                <td>3</td>
                <td>£6</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Gel Pen</td>
                <td>10</td>
                <td>£1</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Sticky notes</td>
                <td>6</td>
                <td>£2</td>
            </tr>
        </tbody>
    </table>
</div>