<h2 class="mb-3">Registered Employee Accounts</h2>

<h4 class="mb-3">Total registered employee: {{ employees.length }}</h4>

<div class="table-responsive">
  <table class="table table-danger">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">fullname</th>
        <th scope="col">position</th>
        <th scope="col">email</th>
      </tr>
    </thead>
    <tbody>
      @for (emp of employees; track $index) {
        <tr>
          <th scope="row">{{ emp.id }}</th>
          <td>{{ emp.fullname }}</td>
          <td>{{ emp.position }}</td>
          <td>{{ emp.email}}</td>
        </tr>
      }
    </tbody>
  </table>
</div>