<div class="table-responsive">
    <table class="table table-danger">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">update</th>
                <th scope="col">delete</th>
                <th scope="col">id</th>
                <th scope="col">img</th>
                <th scope="col">fullname</th>
                <th scope="col">phone</th>
                <th scope="col">email</th>
                <th scope="col">title</th>
                <th scope="col">dept</th>
                <th scope="col">DOJ</th>
                <th scope="col">type</th>
                <th scope="col">address</th>
            </tr>
        </thead>
        <tbody>
            @for(employee of employees$ | async; let i = $index; track $index) {
            <tr>
                <th scope="row">{{i+1}}</th>
                <td>
                    <button (click)="onUpdateCta(employee)" type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#employeeFormModal">&#9999;</button>
                </td>
                <td>
                    <button (click)="onDelete(employee.id)" type="button" class="btn btn-sm btn-outline-secondary">&#128465;</button>
                </td>
                <td>{{employee.id}}</td>
                <td>
                    <img [src]="employee.profileimage || 'https://placehold.co/40'" width="40" height="40" style="border-radius: 50%; object-fit: cover;" />
                </td>
                <td>{{employee.fullname}}</td>
                <td>{{employee.phone}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.jobtitle}}</td>
                <td>{{employee.department}}</td>
                <td>{{employee.dateofjoining}}</td>
                <td>{{employee.employmenttype}}</td>
                <td>{{employee.address}}</td>
            </tr>
            }
        </tbody>
    </table>

    <div class="modal fade" id="employeeFormModal" tabindex="-1" aria-labelledby="employeeFormModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-uppercase text-dark" id="employeeFormModalLabel">Employee form</h1>
                    <button type="button" id="btn-close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="empForm">
                        <div class="row g-3 align-items-center mb-3">
                            <div id="confidentialHelp" class="form-text">We'll never share your personal details with anyone else.</div>
                            <div class="col">
                                <label for="profileimage" class="form-label">profileimage</label>
                            </div>
                            <div class="col">
                                <input class="form-control" type="file" (change)="onFileChange($event)" accept="image/*" />
                                @if(empForm.get('profileimage')?.value) {
                                    <img [src]="empForm.value.profileimage" width="90" height="90" class="mt-2" style="border-radius: 50%; object-fit: cover;" />
                                    <p>Image selected ✔</p>
                                }
                            </div>
                        </div>
                        <div class="row g-3 align-items-center mb-3">
                            <div class="col">
                                <label for="fullname" class="form-label">fullname<sup>*</sup></label>
                            </div>
                            <div class="col">
                                <input formControlName="fullname" type="text" class="form-control" id="fullname" aria-describedby="confidentialHelp" name="fullname" />
                            </div>
                        </div>
                        <div class="row g-3 align-items-center mb-3">
                            <div class="col">
                                <label for="phone" class="form-label">phone<sup>*</sup></label>
                            </div>
                            <div class="col">
                                <input formControlName="phone" type="text" class="form-control" id="phone" aria-describedby="confidentialHelp" name="phone" />
                            </div>
                        </div>
                        <div class="row g-3 align-items-center mb-3">
                            <div class="col">
                                <label for="email" class="form-label">email<sup>*</sup></label>
                            </div>
                            <div class="col">
                                <input formControlName="email" type="email" class="form-control" id="email" name="email" aria-describedby="confidentialHelp" />
                            </div>
                        </div>
                        <div class="row g-3 align-items-center mb-3">
                            <div class="col">
                                <label for="jobtitle" class="form-label">jobtitle</label>
                            </div>
                            <div class="col">
                                <input formControlName="jobtitle" type="text" class="form-control" id="jobtitle" aria-describedby="confidentialHelp" name="jobtitle" />
                            </div>
                        </div>
                        <div class="row g-3 align-items-center mb-3">
                            <div class="col">
                                <label for="department" class="form-label">department</label>
                            </div>
                            <div class="col">
                                <select formControlName="department" class="form-select" aria-label="Department select">
                                    <option value="" selected>Select department</option>
                                    @for(d of departments; track $index) {
                                        <option [value]="d">{{d}}</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row g-3 align-items-center mb-3">
                            <div class="col">
                                <label for="dateofjoining" class="form-label">dateofjoining</label>
                            </div>
                            <div class="col">
                                <input formControlName="dateofjoining" type="text" class="form-control" id="dateofjoining" aria-describedby="confidentialHelp" name="dateofjoining" />
                            </div>
                        </div>
                        <div class="row g-3 align-items-center mb-3">
                            <div class="col">
                                <label for="employmenttype" class="form-label">employmenttype</label>
                            </div>
                            <div class="col">
                                <select formControlName="employmenttype" class="form-select" aria-label="Employment type select">
                                    <option value="" selected>Select employment type</option>
                                    @for(t of employmenttypes; track $index) {
                                        <option [value]="t">{{t}}</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row g-3 align-items-center mb-3">
                            <div class="col">
                                <label for="address" class="form-label">address</label>
                            </div>
                            <div class="col">
                                <textarea formControlName="address" type="text" class="form-control" id="address" aria-describedby="confidentialHelp" name="address"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">cancel</button>
                    <button (click)="onUpdate()" type="button" class="btn btn-info btn-sm">update</button>
                    <button (click)="onAdd()" type="button" class="btn btn-danger btn-sm">add</button>
                </div>
            </div>
        </div>
    </div>
</div>
  
