<div class="table-responsive">
    <table class="table table-danger">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">update</th>
          <th scope="col">delete</th>
          <th scope="col">id</th>
          <th scope="col">fullname</th>
          <th scope="col">phone</th>
          <th scope="col">email</th>
        </tr>
      </thead>
      <tbody>
        @for(employee of employees$ | async; track $index) {
        <tr>
          <th scope="row">{{$index+1}}</th>
          <td>
            <button (click)="onUpdateCta(employee)" type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#employeeFormModal">update</button>
          </td>
          <td>
            <button (click)="onDelete(employee.id)" type="button" class="btn btn-secondary btn-sm">delete</button>
          </td>
          <td>{{employee.id}}</td>
          <td>{{employee.fullname}}</td>
          <td>{{employee.phone}}</td>
          <td>{{employee.email}}</td>
        </tr>
        }
      </tbody>
    </table>

    <!-- Employee Form Modal -->
    <div class="modal fade" id="employeeFormModal" tabindex="-1" aria-labelledby="employeeFormModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5 text-uppercase text-dark" id="employeeFormModalLabel">Employee form</h1>
            <button type="button" class="btn-close" id="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="empForm">
                    <div class="mb-3">
                        <label for="fullname" class="form-label">fullname</label>
                        <input formControlName="fullname" type="text" class="form-control" id="fullname" name="fullname" aria-describedby="fullnameHelp" />
                        <div id="fullnameHelp" class="form-text">We'll never share your personal details with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">phone</label>
                        <input formControlName="phone" type="text" class="form-control" id="phone" name="phone" aria-describedby="phoneHelp" />
                        <div id="phoneHelp" class="form-text">We'll never share your personal details with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">email</label>
                        <input formControlName="email" type="text" class="form-control" id="email" name="email" aria-describedby="emailHelp" />
                        <div id="emailHelp" class="form-text">We'll never share your personal details with anyone else.</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">cancel</button>
            <button (click)="onUpdate()" type="button" class="btn btn-info btn-sm">update</button>
            <button (click)="onAdd()" type="button" class="btn btn-danger btn-sm">add</button>
            </div>
        </div>
        </div>
    </div>
</div>
  