<h2>Employee Login</h2>

<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mb-3">
        <label for="email" class="form-label">email</label>
        <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter email" aria-describedby="userHelp" />
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">password</label>
        <input formControlName="password" type="password" class="form-control" id="password" placeholder="Enter password" aria-describedby="userHelp" />
    </div>
    <button type="submit" class="btn btn-sm btn-danger">Login</button>
</form>

@if (!!errorMessage) {
    <p class="text-danger mt-3">{{errorMessage}}</p>
}

<p class="my-3">
    Not registered yet? <a routerLink="/register">Create an account</a>
</p>