<h2>Employee Registration</h2>

<form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="mb-3">
        <div id="userHelp" class="form-text mb-3">We will never share your personal details with anyone else.</div>
        <label for="fullname" class="form-label">fullname</label>
        <input formControlName="fullname" type="text" class="form-control" id="fullname" placeholder="fullname" aria-describedby="userHelp" />
    </div>
    <div class="mb-3">
        <label for="position" class="form-label">position</label>
        <input formControlName="position" type="text" class="form-control" id="position" placeholder="position" aria-describedby="userHelp" />
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email" aria-describedby="userHelp" />
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password" aria-describedby="userHelp" />
    </div>
    <button type="submit" class="btn btn-sm btn-danger">Register</button>
</form>

@if(!!errorMessage) {
    <p class="text-danger mt-3">{{ errorMessage }}</p>
}

@if(!!successMessage) {
    <p class="text-primary mt-3">{{ successMessage }}</p>
}

<p class="my-3">
    Already have an account? <a routerLink="/login">Login here</a>
</p>